.wrapper {
  gap: 80px;
}

.table-wrapper {
  padding: 4px 6px;
}

.fauls-wrapper {
  margin-top: 8px;
  gap: 10px;
  font-weight: 500;
}

h1 {
  color: $text-color;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.home-team-bg {
  background-color: $bg-white;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
}

.away-team-bg {
  background-color: $bg-gray;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
}

.q-table tbody td {
  border-bottom: none;
}

.q-table thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.q-table__card {
  background-color: transparent;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-red {
  background-color: $red;
}

td:has(~ .bold):nth-of-type(2) {
  font-weight: 600;
}

td:has(~ .yellow):nth-of-type(2) {
  font-weight: 600;
  color: $yellow !important;
}

td:has(~ .red):nth-of-type(2) {
  font-weight: 600;
  color: $red !important;
}

.addition-details {
    margin-top: 24px;
  h2 {
    color: $text-color;

    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
}
